:root {
    /* Colors from https://coolors.co/19535f-0b7a75-d7c9aa-7b2d26-f0f3f5 */
    --color-1: #19535F;
    --color-2: #0B7A75;
    --color-3: #D7C9AA;
    --color-4: #7B2D26;
    --color-5: #F0F3F5;

    /* Semantic color names; try to use these below */
    --color-text: black;
    --color-text-inverse: var(--color-5);
    --color-background: var(--color-5);

    /* Semantic geometry */
    --height-header: 10vh;
}

body {
    font-size: 2rem;
    margin: 5vw;
    color: var(--color-text);
    background-color: var(--color-background);
}

.propSummary {
    font-style: italic;
}

.da {
    color: green;
}

.dr {
    color: red;
    text-decoration-line: line-through;
}

.header {
    color: var(--color-text-inverse);
    background-color: var(--color-1);
    position: sticky;
    top: 0;
    /*
     * The hamburger menu is 5 stripes of 20% height; this keeps the padding the
     * uniform with the stripe height.
     */
    padding: calc(var(--height-header) * 0.2);
    width: stretch;
    /*
     * Without this, we have an extra bit of vertical space that looks weird,
     * especially with the hamburger menu; see #22.
     */
    line-height: 0;
}

.footer {
    font-size: 1rem;
}

#hamburger-input {
    display: none;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
    visibility: visible;
}

#hamburger-input:checked~.overlay {
    visibility: visible;
    opacity: 0.5;
}

#hamburger-menu {
    border: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: var(--height-header);
    height: var(--height-header);
    background: linear-gradient(to bottom,
            var(--color-3), var(--color-3) 20%,
            var(--color-1) 20%, var(--color-1) 40%,
            var(--color-3) 40%, var(--color-3) 60%,
            var(--color-1) 60%, var(--color-1) 80%,
            var(--color-3) 80%, var(--color-3) 100%);
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-1);
    color: var(--color-text-inverse);
    text-align: center;
    /* Override inherited style from .header */
    line-height: normal;
}

#hamburger-menu ul {
    padding-left: 0;
}

#hamburger-menu li {
    list-style: none;
}

#hamburger-menu a {
    color: var(--color-text-inverse);
    text-decoration: none;
}

#title {
    display: inline-block;
    /*
     * The padding is 0.2 * var(--height-header), so we one of of those for
     * either side of the hamburger menu plus one on the right side of this
     * element.
     */
    width: calc(100% - var(--height-header) * 1.6);
    text-align: center;
    vertical-align: text-top;
    font-weight: bold;
    font-size: xx-large;
}
