body {
    font-size: 2rem;
    margin: 5vw;
}

.propSummary {
    font-style: italic;
}

.da {
    color: green;
}

.dr {
    color: red;
    text-decoration-line: line-through;
}

.overlay {
    z-index: -1;
}

.header {
    background-color: #FF1053;
    position: sticky;
    top: 0;
    padding: 1vh;
    /*
     * If we just used 100% here, the right portion of the div would overflow
     * the container by 2vh. Subtract left and right padding.
     */
    width: calc(100% - 2vh);
    /*
     * Without this, we have an extra bit of vertical space that looks weird,
     * especially with the hamburger menu; see #22.
     */
    line-height: 0;
}

#hamburger-input {
    display: none;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
    visibility: visible;
}

#hamburger-input:checked~.overlay {
    visibility: visible;
    opacity: 0.5;
}

#hamburger-menu {
    border: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 10vh;
    height: 10vh;
    background: linear-gradient(to bottom,
            #59C3C3, #59C3C3 20%,
            #FF1053 20%, #FF1053 40%,
            #59C3C3 40%, #59C3C3 60%,
            #FF1053 60%, #FF1053 80%,
            #59C3C3 80%, #59C3C3 100%);
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: teal;
    text-align: center;
    /* Override inherited style from .header */
    line-height: normal;
}

#hamburger-menu ul {
    padding-left: 0;
}

#hamburger-menu li {
    list-style: none;
}

#hamburger-menu a {
    color: black;
    text-decoration: none;
}

#title {
    display: inline-block;
    width: calc(100% - 15vh);
    text-align: center;
    vertical-align: text-top;
    font-weight: bold;
    font-size: xx-large;
}
