<!DOCTYPE html>
<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LEGEFL2H8J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LEGEFL2H8J');
    </script>

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
    <link href="/css/site.css" rel="stylesheet">
    {%- for path in config.extra_css %}
    <link href="{{ path | url }}" rel="stylesheet">
    {%- endfor %}
</head>

<body>
    <a href="/about" class="rightHeader">About</a>

    {# Only render the link back to the home page if that's not where we are right now #}
    {% if not page.is_homepage %}
    <a href="/">{{ config.site_name }}</a>
    &gt;
    {{ page.title }}
    {% endif %}

    {{ page.content }}

    {%- for script in config.extra_javascript %}
    {{ script | script_tag }}
    {%- endfor %}
</body>

</html>
